<div class="flex flex-column align-items-center justify-content-center">
    <h2 class="text-center">Restablecer Contraseña</h2>
    <form [formGroup]="resetPasswordForm">
      <label for="password">Nueva Contraseña</label>
      <input id="password" type="password" formControlName="password" placeholder="Nueva contraseña" class="w-full mb-3" />
      <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="text-red-500">
        La contraseña debe tener al menos 6 caracteres.
      </div>
      <button pButton label="Actualizar Contraseña" (click)="onSubmit()" [disabled]="!resetPasswordForm.valid"></button>
    </form>
  </div>
  